div(class="Card "+clase)
    div(class="Card-container")
        img(src="./public/images/511002987.png", width="120", class="Card-image")
    div(class="Card-backface") 
div(class="Card "+clase)
    div(class="Card-container")
        img(src="./public/images/511012000.png", width="120", class="Card-image")
    div(class="Card-backface") 
div(class="Card "+clase)
    div(class="Card-container")
        img(src="./public/images/513000123.png", width="120", class="Card-image")
    div(class="Card-backface") 
div(class="Card "+clase)
    div(class="Card-container")
        img(src="./public/images/513000126.png", width="120", class="Card-image")
    div(class="Card-backface") 
div(class="Card "+clase)
    div(class="Card-container")
        img(src="./public/images/brand.jpg", width="120", class="Card-image")
    div(class="Card-backface") 