div(class="Card "+clase)
    div(class="Card-container")
        img(src="./public/images/110000012.png", class="Card-image")
    div(class="Card-backface") 
div(class="Card "+clase)
    div(class="Card-container")
        img(src="./public/images/511000250.png", class="Card-image")
    div(class="Card-backface") 
div(class="Card "+clase)
    div(class="Card-container")
        img(src="./public/images/511000255.png", class="Card-image")
    div(class="Card-backface") 
div(class="Card "+clase)
    div(class="Card-container")
        img(src="./public/images/511000263.png", class="Card-image")
    div(class="Card-backface") 
div(class="Card "+clase)
    div(class="Card-container")
        img(src="./public/images/511002841.png", class="Card-image")
    div(class="Card-backface") 