div(class="Card "+clase)
    div(class="Card-container")
        img(src="./public/images/34079868.png", width="120", class="Card-image")
    div(class="Card-backface") 
div(class="Card "+clase)
    div(class="Card-container")
        img(src="./public/images/100000000.png", width="120", class="Card-image")
    div(class="Card-backface") 
div(class="Card "+clase)
    div(class="Card-container")
        img(src="./public/images/100000150.png", width="120", class="Card-image")
    div(class="Card-backface") 
div(class="Card "+clase)
    div(class="Card-container")
        img(src="./public/images/100000151.png", width="120", class="Card-image")
    div(class="Card-backface") 
div(class="Card "+clase)
    div(class="Card-container")
        img(src="./public/images/100000152.png", width="120", class="Card-image")
    div(class="Card-backface") 