div(class="Card "+clase)
    div(class="Card-container")
        img(src="./public/images/oculto.jpg", width="120", class="Card-image")
    div(class="Card-backface") 
div(class="Card "+clase)
    div(class="Card-container")
        img(src="./public/images/oculto.jpg", width="120", class="Card-image")
    div(class="Card-backface") 
div(class="Card "+clase)
    div(class="Card-container")
        img(src="./public/images/oculto.jpg", width="120", class="Card-image")
    div(class="Card-backface") 
div(class="Card "+clase)
    div(class="Card-container")
        img(src="./public/images/oculto.jpg", width="120", class="Card-image")
    div(class="Card-backface") 
div(class="Card "+clase)
    div(class="Card-container")
        img(src="./public/images/oculto.jpg", width="120", class="Card-image")
    div(class="Card-backface") 