color-borders = #675F6E



@import "./card/styles.styl"
@import "./phase/styles.styl"
@import "./layout/styles.styl"
@import "./status/styles.styl"

body
    margin 0
    background-color white
    background-image url('../images/battle.jpg')
    background-size cover
    font-family "Open Sans"

            





        

